:root{
    /* FONT */
    --font-dm-sans: 'DM Sans', sans-serif;
    /*Colors  */
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0,07);
    --bg-color-search: #242424;
    --bg-color-subscribe:#a7a7a7;
    --bg-color-login: #000;
    --bg-color-bgnav: #121212
}
    